html {
    font-size: 14pt;
    min-height: 100vh;   
    font-family: 'PT Sans', sans-serif;   
}
body {
	margin: 0;
	padding: 0; 
    min-height: inherit;   
}
#background {
	background-image: url("./images/back.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	position: fixed;
	top: 0;
    left: 0;
	z-index: -1;	
	height: 100vh;
    width: 100%;
}
#page {	
    position: relative;		
	max-width: 550px;	
    min-height: inherit;	
	margin: 0 auto -5em auto;   
	padding: 0 2em;    
}	
#page:before {
    content: ' ';
    display: table;
}	
#melodyTextarea {
	display: block;			
	width: 95%;
	min-height: 200px;			
	resize: vertical;
	background-color: #ddd6ba;	
	border-width: 0;
	box-shadow: -1px 9px 41px -2px rgba(0,0,0,0.75);
	overflow: auto;
	margin: 1em auto;
    border-radius: 10px;
    padding: 10px;    
    font-size: inherit;
}
#submitButton {
	display: block;
	width: 60%;
    height: 3em;
	margin: 1em auto;	
    border-radius: 10px;
    background-color: #ddd6ba;
    border: none;
    box-shadow: -1px 9px 41px -2px rgba(0,0,0,0.75);
    cursor: pointer;	
    font-family: inherit;    
    font-size: inherit;
}
#submitButton:hover {
    color: #b26a0c;
}
#submitButton:disabled {
   color: gray;
}
#submitButton:hover:disabled {
   color: gray;
}
#generatedMelody {	
	margin: 1em auto;
	background-color: #ddd6ba;	
	box-shadow: -1px 9px 41px -2px rgba(0,0,0,0.75);
	padding-top: 1em;
	padding-bottom: 1em;
    display: none;
    position: relative;
    border-radius: 10px;
}
#generatedMelody p {
	margin: 0 1em;
}
#generatedMelody p.indicator {
    text-align: center;
}
#player {
	display: block;
	max-width: 300px;
	margin: 0 auto;
}
.highlight {
	background-color:  #ddd6ba;
    border-radius: 5px;
}
.rule-imgs {
    width: 90%;
}
#examples {	
	background-color: #ddd6ba;	
	box-shadow: -1px 9px 41px -2px rgba(0,0,0,0.75);
	padding-top: 1em;
	padding-bottom: 1em;
    border-radius: 10px;
    margin-top: 2em;
    margin-bottom: 1em;
}
#examples p, #examples ul {
	margin: 0 1em;
	line-height: 1.5;
}
#rules p {
    margin: 1em;
}
.warning {
    margin: 1em 0;
	text-align: center;
}
a {
    text-decoration: none;
    color: #493d07; 
    border-bottom: 1px solid #57523d; 
}
a:visited {
    color: #493d07; 
    border-bottom: 1px solid #57523d; 
}
a:hover {
    color: #b26a0c;
    border-bottom: 1px solid #b29a7c;
}
.jsLink, .jsLink:visited, .jsLink:hover {
     border-bottom-style: dashed;
}
ul#samples {
      list-style-image: url('./images/music-note.png');
}
input.link-button {
    background: none;
    border: none;
    padding: 0;
    text-decoration: none;    
    cursor: pointer;    
    font-size: 14pt;
    font-family: 'PT Sans', sans-serif;
    color: #493d07; 
    border-bottom: 1px solid #57523d; 
}
input.link-button:hover {
    color: #b26a0c;
    border-bottom: 1px solid #b29a7c;
}
input.link-button:focus:active {
	padding: 0;
}
#email { 
    width: 100%;   
    line-height: 3em;
    text-align: center;
    height: 3em;
    margin: 0;
    margin-top: 2em;
    z-index: 10;
    display: block;
    position: relative;    
}
.code {
    font-family: monospace;
}
#rules {
    padding-left: 1em;
    padding-right: 1em;  
}
#examplesJS {
    display:none;
}
#clear {
    height: 5em;
}
#close {
    border-radius: 10px;
    background-color: #CFC5A1;  
}

@media (max-width: 960px) and (orientation: portrait) {
	html {
        font-size: 18pt;
	}
    #page {
        max-width: 95%; 
        padding: 0 0.5em;   
	}
    #examples {
        margin-top: 0.5em;
    }        
}
@media (max-width: 600px) and (orientation: portrait) {
	html {
        font-size: 12pt;
	}     
}