@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <title>Генератор мелодий</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="~/Content/style.css">
    <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
</head>
<body>
    <div id="background"></div>
    <div id="page">
        @RenderSection("Examples", false)
        @RenderBody()
    </div>
    <p class="email"><span class="highlight">Пишите: <a href="mailto:guestbook@melody.toumin.co.uk">guestbook@melody.toumin.co.uk</a></span></p>
   @Scripts.Render("~/bundles/jquery")
   @RenderSection("Scripts", false)
</body>
</html>