@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <title>Генератор мелодий</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="~/Content/style.css">
</head>
<body>
    <div id="background"></div>
    <div id="page">
        @RenderBody()
    </div>
   @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/Interface/AJAXEvents.js"></script>
</body>
</html>