<div id="rules">
    <h1>Основы</h1>
    <p>Язык, ипользуемый в данной программе для представления мелодий, — это упрощённая нотная запись. Он позволяет получить очень приблизительное звучание музыкального произведения, так как им можно описать только последовательность и длительность нот, различные динамические характеристики звуков с его помощью передать не получится.</p>
    <p>Мелодия состоит из объявления темпа и нот, разделённых пробелами.</p>
    <p><span class="code">[ТЕМП] [НОТА] [НОТА] [НОТА]</span></p>
    <h1>Темп</h1>
    <p>Мелодия должна начинаться с объявления темпа в ударах в минуту. Для этого необходимо написать слово <span class="code">TEMP</span>, а после него без пробелов число ударов.</p>
    <p>Пример: <span class="code">TEMP120</span></p>
    <p>Это значит, что темп мелодии равен 120 ударам в минуту.</p>
    <h1>Ноты</h1>
    <p>Запись ноты состоит из двух основных компонентов: её название вместе с номером октавы и длительность. Эти компонеты разделяются знаком дефиса. Ноты отделяются друг от друга одним или несколькими пробелами.</p>
    <p>Названия нот — это латинские буквы: C (до), D (ре), E (ми), F (фа), G (соль), A (ля), B (си), P (пауза); так же ноты записывают в англоязычных странах. После названия ноты может также следовать знак альтерации: # (диез) или  B (бемоль). После названия ноты и возможного знака альтерации следует номер октавы (у паузы номера октавы нет).</p>
    <p>На изображении ниже показаны имена нот четвёртой октавы.</p>
    <p><img src="~/Content/images/note-names.png" class="rule-imgs" alt="Названия нот" /></p>
    <p>Далее дефисом отделяется указание длительности ноты. указывается Длительнось при помощи знаменателя от дробного количества долей. То есть если нота длится 1/2 доли, то необходимо указать "2" после дефиса.</p>
    <p><img src="~/Content/images/note-durations.png" class="rule-imgs" alt="Длительность нот" /></p>
    <p>Примеры:</p>
    <p><span class="code">C4-2</span> — половинная нота До четвёртой октавы.</p>
    <p><span class="code">D#5-8</span> — восьмая нота Ре диез пятой октавы.</p>
    <p><span class="code">FB3-4</span> — четвёртая нота Фа бемоль третьей октавы.</p>
    <p>Пример мелодии (гамма До мажор):</p>
    <p><span class="code">TEMP120 C4-4 D4-4 E4-4 F4-4 G4-4 A4-4 B4-4 C5-4</span></p>
    <h1>Сложная длительность</h1>
    <p>Указание длительности ноты может быть модифицировано при помощи операторов. В указании длительности может быть только один оператор. Исключение составляет оператор триолей, после которого может следовать оператор копирования.</p>
    <h2>Оператор удлинения <span class="code">x[число]</span></h2>
    <p>Иногда длительность ноты невозможно указать, используя лишь знаменатель. Это происходит, например, тогда, когда 2 ноты соединены лигой. В таком случае можно вопльзоваться оператором удлинения, который записывается после основной длительности без пробела. Данный оператор выглядит следующим образом: <span class="code">x[число]</span>. Число указывает во сколько раз нужно увеличить продолжительность ноты, которая указана до оператора. То есть число после x можно воспринимать как числитель. Например, если лигой соединена половинная и четвёртая ноты, их длительность равна 1/2 + 1/4 = 3/4 или 4x3.</p>
    <p><img src="~/Content/images/long.png" class="rule-imgs" alt="Лига" /></p>
    <h2>Оператор копирования <span class="code">^[число]</span></h2>
    <p>Оператор <span class="code">^[число]</span>, написанный после указания длительности, позволяет повторить ноту произвольное количество раз. Например запись <span class="code">C4-8^3</span> = <span class="code">С4-8 С4-8 С4-8</span>.</p>
    <h2>Оператор триолей</h2>
    <p>Если нота находится в составе триоли, то нужно дописать <span class="code">T</span> сразу после указания длительности.</p>
    <p>Например: <span class="code">A5-4T</span></p>
    <p>После оператора триолей может следовать оператор копирования.</p>
    <p><img src="~/Content/images/triplet.png" class="rule-imgs" alt="Триоли" /></p>
    <h2>Нота с точкой</h2>
    <p>Если необходимо указать ноту с точкой, то необходимо поставить символ точки сразу после указания длительности ноты. Точек можно ставить несколько, но нельзя ставить точки, если в указании длительности ноты есть какой-либо оператор.</p>
    <p><img src="~/Content/images/dot.png" class="rule-imgs" alt="Нота с точкой" /></p>
    <h1>Транспонирование</h1>
    <p>Мелодию можно поднять или опустить на произвольное количество полутонов. Для этого к указанию темпа мелодии необходимо дописать латинскую букву "T", а после неё положительное или отрицательно число полутонов.</p>
    <p>Примеры:</p>
    <p><span class="code">TEMP120T12 C4-4</span> — поднять ноту До четвёртой октавы на 12 полутонов, то есть на октаву.</p>
    <p><span class="code">TEMP120T-12 C4-4</span> — опустить ноту До четвёртой октавы на 12 полутонов.</p>
    <h1>Повторяющиеся фрагменты</h1>
    <p>В мелодиях встречаются повторяющиеся фрагрмены. Можно успростить их запись, воспользовавшись синтаксисом объявления повторов. Для этого необходимо придумать буквенное имя для повторяющегося фрагмента, поместить фрагмент в квадратные скобки и написать перед открывающей скобкой, без пробела, придуманное имя фрагмента. Далее можно вставить этот фрагмент в любое место мелодии, просто указав его имя.</p>
    <p>Пример:</p>
    <p><span class="code">TEMP120 a a[A4-4 G#4-8] a a</span> = <span class="code">TEMP120 A4-4 G#4-8 A4-4 G#4-8 A4-4 G#4-8 A4-4 G#4-8</span></p>
</div>