html, body {
	margin: 0;
	padding: 0;			
	font-family: 'PT Sans', sans-serif;
}
#background {
	background-image: url("./images/back.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	position: fixed;
	top: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
}
#page {			
	max-width: 550px;		
	margin: 0 auto;			
	padding: 2em;
}		
#melodyTextarea {
	display: block;			
	width: 95%;
	min-height: 200px;			
	resize: vertical;
	background-color: #ddd6ba;
	border-color: #d2cbb1;
	border-width: 0;
	box-shadow: -1px 9px 41px -2px rgba(0,0,0,0.75);
	overflow: auto;
	margin: 0 auto;
    border-radius: 10px;
    padding: 10px;
}
#submitButton {
	display: block;
	width: 60%;
    height: 3em;
	margin: 0 auto;
	margin-top: 1em;
    border-radius: 10px;
    background-color: #ddd6ba;
    border: none;
    box-shadow: -1px 9px 41px -2px rgba(0,0,0,0.75);
    cursor: pointer;
	border-color: #d2cbb1;
    font-family: 'PT Sans';
    text-wrap:normal;
    white-space:normal;
}
#generatedMelody {
	width: 100%;
	margin: 3em auto 3em auto;
	background-color: #ddd6ba;
	border-color: #d2cbb1;
	box-shadow: -1px 9px 41px -2px rgba(0,0,0,0.75);
	padding-top: 1em;
	padding-bottom: 1em;
    display: none;
    position: relative;
    border-radius: 10px;
}
#generatedMelody p {
	margin: 0 1em;
}
#generatedMelody p.indicator {
    text-align: center;
}
#player {
	display: block;
	max-width: 300px;
	margin: 0 auto;
}
.highlight {
	background-color:  #ddd6ba;
    border-radius: 5px;
}
em {
	font-size: 14pt;
}
.rule-imgs {
    width: 90%;
}
#examples {
	width: 100%;
	background-color: #ddd6ba;
	border-color: #d2cbb1;
	box-shadow: -1px 9px 41px -2px rgba(0,0,0,0.75);
	padding-top: 1em;
	padding-bottom: 1em;
    border-radius: 10px;
}
#examples p, ul {
	margin: 0 1em;
	line-height: 1.5;
}
.warning {
	text-align: center;
}
.exampleLink {
    text-decoration: none;
    border-bottom: 1px dashed; 
}
ul#samples {
      list-style-image: url('./images/music-note.png');
}
input.link-button {
    background: none;
    border: none;
    padding: 0;
    text-decoration: underline;
    cursor: pointer;
    color: blue;
}
input.link-button:focus:active {
	padding: 0;
}
.email {
    text-align: center;
}
#close {
    border-radius: 10px;    
}
@media (max-width: 960px) and (orientation: portrait) {
	#page {
        max-width: 95%; 
        padding: 0.5em 0;       
	}
    #submitButton {
        height: 3.5em;
        font-size: 2em;
    }
    #examples {
        font-size: 1.5em;
    }    
    #submitButton {
        margin-top: 1em;
    }
}
.code {
    font-family: monospace;
}
#rules {
    padding-left: 1em;
    padding-right: 1em;  
}
#rulesLink {
      text-decoration: none;
    border-bottom: 1px dashed; 
}
#examplesJS {
    display:none;
}